node_modules/

logs/
*.log

package-lock.json
yarn.lock
pnpm-lock.yaml

+*.env

.DS_Store
Thumbs.db

dist/
build/
*.tsbuildinfo

coverage/
temp/

.idea/

prisma_client/
prisma/migrations/

.gitignore
